<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eva Informatics Pvt. Ltd.</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/css.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<link rel="stylesheet" type="text/css" href="3rdparty/unslider/unslider.css" />
	<link rel="stylesheet" type="text/css" href="3rdparty/unslider/unslider-dots.css" />
	<script src="3rdparty/unslider/jquery-2.1.4.min.js"></script>
	<script src="3rdparty/unslider/unslider-min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.fading-slider').unslider({
				animation: 'fade',
				autoplay: true,
				arrows: false
			});
		});
	</script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed" role="navigation" style="padding:20px 0;margin-bottom:0;border:none;border-radius:0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="position:relative;float:left;width:100px;overflow:hidden">
					<img class="img-responsive" src="images/logo.jpg" style="width:85px;"/>
				</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav" style="font-size:16px;font-weight:bold;">
                    <li><a href="#" class="userlinks"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="#" class="dropdown-toggle userlinks" aria-expanded="false" data-toggle="dropdown">About Us <span class="caret"></span></a>
						<ul class="dropdown-menu" style="background:#000;color:#fff;font-size:16px; font-weight:bold;border-radius:0 4px 4px 4px;">
							<li><a href="#" style="color:#fff;">Company</a></li>
							<li><a href="#" style="color:#fff;">Team</a></li>
							<li><a href="#" style="color:#fff;">Expertise</a></li>
							<li><a href="#" style="color:#fff;">Location</a></li>
						</ul>
					</li>
					
                    <li><a href="#" class="userlinks">Portfolio</a></li>
					 <li><a href="#" class="userlinks">Work With Us</a></li>
                </ul>
				<ul class="nav navbar-nav navbar-right">
					<!--li><a href="#">Hi Guest!</a></li>
                    <li><a class="userlinks" href="#">Sign In</a> </li>
                    <li><a class="userlinks" href="#">Join</a></li-->
                </ul>
            </div>
        </div>
    </nav>
	
	<div class="container-fluid fading-slider" style="background:#222;overflow:hidden;padding:10px 0;height:400px;max-height:400px;border-bottom:4px solid #222">
		<ul>
			<li><img class="img-responsive" src="images/banner_image_1.jpg" width="100%"></li>
			<li><img class="img-responsive" src="images/banner_image_2.jpg" width="100%"></li>
			<li><img class="img-responsive" src="images/banner_image_3.jpg" width="100%"></li>
		</ul>
	</div>
	
	<div class="container-fluid full-width" style="padding-top:25px;padding-bottom:25px;">
		<div class="container">
			<div class="row" >
				<div class="col-md-4" style="overflow:hidden;background:#e8fcfe;border: 1px solid #81e4ed;border-top:none;border-left:none">
					<div class="col-inner" style="padding:0 10px;">
						<h3><img src="images/pen_icon.png"/> Content Management System</h3>
						<p style="font-size:16px;">Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. 
						Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
						</p>
						<p style="font-size:16px;">
							<a href="#">More &raquo;</a>
						</p>
					</div>
				</div>
				<div class="col-md-4" style="overflow:hidden;border-top:1px solid #81e4ed;">
					<div class="col-inner" style="padding:0 10px;">
						<h3><img src="images/layer_icon.png"/> DHIS2 Customization</h3>
						<p style="font-size:16px;">Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. 
						Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
						</p>
						<p style="font-size:16px;">
							<a href="#">More &raquo;</a>
						</p>
					</div>
				</div>
				<div class="col-md-4" style="overflow:hidden;background:#e8fcfe;border: 1px solid #81e4ed;border-top:none;border-right:none">
					<div class="col-inner" style="padding:0 10px;">
						<h3><img src="images/screen_icon.png"/> OpenMRS Customization</h3>
						<p style="font-size:16px;">Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. 
						Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
						</p>
						<p style="font-size:16px;">
							<a href="#">More &raquo;</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--div class="container-fluid full-width" style="/*background:#e8ebf1*/;padding-bottom:35px;">
		<div class="container">
				<div class="row">
					<h3 style="border-bottom:1px solid #efefef;padding:10px 0;">
						<img src="images/paintbrush_icon.png" /> 
						Latest Projects 
					</h3>
					<div class="col-md-3">
						<div class="col-inner" style="padding-right:10px;">
							<div class="hover-shadow">
								<img class="col-sm-12 col-md-12 col-lg-12 img-responsive" src="images/project-1.jpg"/>
								<div style="padding:5px;">
									<h4 style="">EVA CMS</h4>
									<p>this project is funded by ... the project is designed to support government of nepal. this project is funded by ... 
									the project is designed to support government of nepal.this project is funded by ... 
									the project is designed to support government of nepal.</p>
								</div>
							</div>
						</div>
				   </div>
				   <div class="col-md-3">
						<div class="col-inner" style="padding-right:10px;">
							<div class="hover-shadow">
								<img class="col-sm-12 col-md-12 col-lg-12 img-responsive" src="images/project-2.jpg"/>
								<div style="padding:5px;">
									<h4>NHSSP</h4>
									<p>this project is funded by ... the project is designed to support government of nepal. this project is funded by ... 
									the project is designed to support government of nepal.this project is funded by ... 
									the project is designed to support government of nepal.</p>
								</div>
							</div>
						</div>
				   </div>
				   <div class="col-md-3">
						<div class="col-inner" style="padding-right:10px;">
							<div class="hover-shadow">
								<img class="col-sm-12 col-md-12 col-lg-12 img-responsive" src="images/project-3.jpg"/>
								<div style="padding:5px;">
									<h4>NHSSP</h4>
									<p>this project is funded by ... the project is designed to support government of nepal. this project is funded by ... 
									the project is designed to support government of nepal.this project is funded by ... 
									the project is designed to support government of nepal.</p>
								</div>
							</div>
						</div>
				   </div>
				   <div class="col-md-3">
						<div class="col-inner" style="padding-right:10px;">
							<div class="hover-shadow">
								<img class="col-sm-12 col-md-12 col-lg-12 img-responsive" src="images/project-4.jpg"/>
								<div style="padding:5px;">
									<h4>NHSSP</h4>
									<p>this project is funded by ... the project is designed to support government of nepal. this project is funded by ... 
									the project is designed to support government of nepal.this project is funded by ... 
									the project is designed to support government of nepal.</p>
								</div>
							</div>
						</div>
				   </div>
				</div>
		</div>
	</div-->
	
	<div class="container-fluid full-width" style="background:#222;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12" style="margin-bottom:5px;padding-right:10px;color:#fff;">
					<div class="col-lg-12">
						<h4>ABOUT US <small>know us better</small></h4>
					</div>
					<div class="col-lg-12">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Morbi euismod placerat dui et tincidunt. Sed sollicitudin posuere auctor. 
						Phasellus at ultricies nisl. Integer at leo eros. Ut nec lorem id orci convallis porta. 
						Donec pharetra neque eu velit dictum molestie. </p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12" style="margin-bottom:5px;padding-right:10px;color:#fff;">
					<div class="col-lg-12">
						<h4>CONTACT US <small>get in touch</small></h4>
					</div>
					<div class="col-lg-12">
						<p>
							<strong>Eva Informatics Pvt. Ltd.</strong><br/>
							Suryabinayak-11, Bhaktapur, Nepal<br/><br/>
							Mobile: 9841781438<br/>
							Email: info@evainformatics.com<br/>
							Web: www.evainformatics.com
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12" style="margin-bottom:5px;padding-right:10px;color:#fff;">
					<div class="col-lg-12">
						<h4>FIND US <small>connect with us</small></h4>
					</div>
					<div class="col-lg-12">
						<a href="#"><img src="images/facebook.png"/></a>
						<a href="#"><img src="images/skype_icon.png"/></a>
						<a href="#"><img src="images/linkedin_icon.png"/></a>
						<a href="#"><img src="images/sharethis_icon.png"/></a>
						<a href="#"><img src="images/pinterest_icon.png"/></a>
						<a href="#"><img src="images/dribbble_icon.png"/></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid full-width" style="background:#000;">
		<div class="container">
            <div class="row">
                <div class="col-lg-8">
					<p style="color:#fff;">
						<a href="#">Terms &amp; Conditions</a> 
						<a href="#">Privacy Policy</a>
					</p>
                </div>
				<div class="col-lg-4">
                    <p style="color:#fff;float:right">&copy; Eva Informatics Pvt. Ltd. All Rights Reserved 2016</p>
                </div>
            </div>
		</div>
	</div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
